<section class="MenusBody">
  <section>
  <div class="ActiveMenu">
  <p class="ActiveMenu-label">Currently active menu is</p>
  <p class="ActiveMenu-name"><%= @menu.name %>
  </div>
  </section>
  <div class="split left">
  <section class="Menu">
    <div>
      <%= form_with(url: "/menus/setmenu", method: "post", class: "Set-menu") do %>
          <select name="menu_id"
                  class="Menu-select"
                  onchange ='if(this.value != 0) { this.form.submit(); }'
                  autofocus>

              <option selected disabled>Select a different menu</option>
              <%Menu.all.each do |menu|%>
                <option value=<%= menu.id %>, class="Menuselect-option">
                    <%= menu.name %>
                  </option>
              <% end %>
          </select>
      <% end %>
    </div>
    <div>
      <%= form_with(url: "/menus/edit", method: "get", class: "Edit-menu") do %>
          <select name="menu_id"
                  class="Menu-select"
                  onchange ='if(this.value != 0) { this.form.submit(); }'
                  autofocus>

              <option selected disabled>Edit a different menu  </option>
              <%Menu.all.each do |menu|%>
                <option value=<%= menu.id %>, class="Menuselect-option">
                    <%= menu.name %>
                  </option>
              <% end %>
          </select>
      <% end %>
    </div>
  </section>
  </div>
  <div class="split right">
    <div>
      <%= form_with(url: "/menus", method: "post", class: "Add-menu") do %>
        <label for="Menu-text" class="label">new menu:</label>
        <%= text_field_tag( name = 'name', value = nil,
                            class: "Menu-text",
                            placeholder: "new menu?")
        %>
        <%= button_tag(value = 'Add', class: "Add-Button")  %>
      <% end %>
    </div>
    <div>
      <%= form_with(url: "/submenus", method: "post", class: "Add-menu") do %>
        <label for="Menu-text" class="label">new submenu:</label>
        <%= text_field_tag( name = 'name', value = nil,
                            class: "Menu-text",
                            placeholder: "new submenu?")
        %>
        <%= hidden_field_tag 'menu_id', @menu.id %>
        <%= button_tag(value = 'Add', class: "Add-Button")  %>
      <% end %>
    </div>
    <%= render partial:'menuitems/menuitems-section',locals: {rendered_from: 'menus',menu: @menu} %>
  </div>
  </section>
</section>
