<section>
    <table>
        <tr class="ColumnTitle">
            <th class="IdNo">IdNo.</th>
            <th class="UserName">Name</th>
            <th class="UserEmail">Email</th>
            <% if display_status %>
                <th class="OrdersQuantity">Accept</th>
                <th class="OrdersQuantity">Delete</th>
            <% else %>
                <th class="OrdersQuantity">OrdersPlaced</th>
            <% end %>
            <% if rendered_from == 'reports' %>
                <th class="OrdersQuantity">Total Money</th>
                <% percent_hash = User.get_total(from_date, end_date) %>
                <th class="OrdersQuantity">Percentage</th>
            <% end %>
        </tr>
        <% users.all.each do |user| %>
          <tr class="UserDetails">
            <td class="IdNo"><%= user.id %></td>
            <% if rendered_from =='reports' %>
                <td class="UserName">
                    <%= link_to  user.name,
                                 user_path(id: user.id,
                                           from_date: from_date,
                                           end_date: end_date
                                           ),
                                 class: "ExpandOrder"
                    %>
                </td>
            <% else %>
                <td class="UserName">
                    <%= link_to  user.name,
                                 edit_user_path(id: user.id),
                                 class: "ExpandOrder"
                    %>
                </td>
            <% end %>
            <td class="UserEmail"><%= user.email %></td>
            <% if display_status %>
                <td class="UserName"><%= link_to  'Accept',
                                                   change_role_path(id: user.id,
                                                                    role: user.request_status
                                                                    ),
                                                   method: 'put',
                                                   class: "ExpandOrder"
                                     %>
                </td>
                <td class="UserName"><%= link_to  'Delete',
                                                   role_request_path(id: user.id,
                                                                     role: nil
                                                                    ),
                                                   method: 'put',
                                                   class: "ExpandOrder"
                                    %>
                </td>
            <% else %>
                <% if rendered_from =='reports' %>
                    <td class="OrdersQuantity">
                        <%= user.orders.confirmed_orders.get_orders(from_date, end_date).count %>
                    </td>
                <% else %>
                    <td class="OrdersQuantity">
                        <%= user.orders.confirmed_orders.count %>
                    </td>
                <% end %>
            <% end %>
            <% if rendered_from == 'reports'%>
                <td class="OrdersQuantity"><%= percent_hash[user.id][:total_price] %></td>
                <td class="OrdersQuantity"><%= percent_hash[user.id][:percentage].round(2) %>%</td>
            <% end %>
          </tr>
        <% end %>
    </table>
</section>
