<section class="UsersBody">
<% if User.clerk_requests.count != 0 %>
<div>
  <p class="Users-Role">Clerk Post Requests</p>
  <%= render partial:'user-section',
             locals:{  users: User.clerk_requests,
                       display_status: true,
                       rendered_from: 'index'
                      }
  %>
</div>
<hr>
<% end %>
<% if User.admin_requests.count != 0 %>
<div>
  <p class="Users-Role">Owner Post Requests</p>
  <%= render partial:'user-section',
             locals:{  users: User.admin_requests,
                       display_status: true,
                       rendered_from: 'index'
                       }
  %>
</div>
<hr>
<% end %>
<% if User.clerks.count != 0 %>
<div>
  <p class="Users-Role">Clerks</p>
  <%= render partial:'user-section',
             locals:{  users: User.clerks,
                       display_status: false,
                       rendered_from: 'index'
                    }
  %>
</div>
<hr>
<% end %>
<% if User.customers.count != 0 %>
<div class="users">
  <p class="Users-Role">Customers</p>
  <%= render partial:'user-section',
             locals:{ users: User.customers,
                      display_status: false,
                      rendered_from: 'index'
                     }
  %>
</div>
<hr>
<% end %>
<% if User.owners(@current_user.id).count != 0%>
<div class="users">
  <p class="Users-Role">Other Admins</p>
  <%= render partial:'user-section',
             locals:{ users: User.owners(@current_user.id),
                      display_status: false,
                      rendered_from: 'index'
                     }
  %>
</div>
<% end %>
</section>
