<section class="Menus-Body">
    <p class="AddMenuItemLabel">You are adding  an item in "<%= menu.name %>" menu</p>
    <%= form_with(url: "/menuitems", method: "post", class: "Add-menuitem") do %>
      <%= hidden_field_tag(name = 'id',value = menu.id)%>
      <input type="hidden" value=<%= rendered_from %> name="rendered_from" >
      <%= hidden_field_tag(name = 'submenu_id',value = submenu.id) %>
      <section class='LabelAndInput'>
        <p class="Input-Label">
          Name
        </p>
        <%= text_field_tag(name = 'name',
                           value = nil,
                           class: "AddMenuitem-name",
                           autofocus: true,
                           placeholder: "name ?")
        %>
      </section>
      <section class='LabelAndInput'>
        <p class="Input-Label">
          Price
        </p>
        <%= text_field_tag(name = 'price',
                           value = nil,
                           class: "AddMenuitem-price",
                           placeholder: "price?")
        %>
      </section>
      <section class='LabelAndInput'>
        <p class="Input-Label">
          Image url
        </p>
        <%= text_field_tag(name = 'image_url',
                           value = nil,
                           class: "AddMenuitem-image_url",
                           placeholder: "image url?")
        %>
      </section>
      <section class='LabelAndInput'>
        <p class="Input-Label">
          Description
        </p>
        <%= text_field_tag(name = 'description',
                           value = nil,
                           class: "AddMenuitem-description",
                           placeholder: "description?")
        %>
      </section>
      <section>
        <p>
          <%= button_tag(value='Add', class: "Add-Button")  %>
        </p>
      </section>
    <% end %>
</section>
