<table>
            <tr class="ColumnTitle">
                <th class="SerialNo">SNo</th>
                <th class="SerialNo">Order Id</th>
                <th class="ItemName">Name</th>
                <th class="ItemName">Order type</th>
                <th class="ItemName">Total Price</th>
                <% if hidden_status == false %>
                  <th class="ItemName">Delivered status</th>
                <% end %>
            </tr>

            <% serial_no = 1 %>
            <% all_orders.each do |order| %>
                    <% delivered_status = (order.delivered_at == nil) ? "notdelivered" : "delivered" %>
                    <tr class="ItemDetails">
                        <td class="SerialNo"><%= serial_no %></td>
                        <td class="SerialNo"><%= link_to  'order_'+order.id.to_s, cart_path(order_id: order.id, from: 'orders_page'), class: "ExpandOrder" %></td>
                        <td class="ItemName"><%= order.user.name %></td>
                        <td class="ItemName"><%= order.user.role == 'customer' ? 'delivery' : 'walkin' %></td>
                        <td class="ItemName"><%= order.get_total_price %></td>
                        <td>
                          <% status_display = delivered_status == "notdelivered" ? "mark as Delivered" : "Delivered"%>
                          <% if hidden_status == false %>
                            <%= form_with(url: "/orders/#{order.id}", method: "put") do %>
                              <%= submit_tag status_display, class: 'SubmitButton' %>
                            <% end %>
                          <% end %>
                        </td>
                    </tr>
                    <% serial_no = serial_no+1 %>
            <% end %>
</table>
