<% orderitems = order.orderitems.getqty %>
<% if orderitems.count==0%>
  <div class="CartEmptyBody">
      <p class="CartEmptyMessage">No Items in cart</p>
      <img src=<%=image_path("empty.png")%>
              height="300"
              width="300"
              class= "CartEmptyImage"
      >
      <div>
          <form action="/menuitems" method="GET">
                  <button class= "CartEmptyLink" type=submit>
                    <img src=<%=image_path("additems.png")%> alt= "addicon" >
                    <label class="Add-Items" >Add</label>
                  </button>
          </form>

      </div>
  </div>
<%else%>
    <section class="CartBody">
        <% if hidden_status == false %>
          <div class="Order-top">
            <div>
              <p class="ItemName">Order Id : <%= order.id %></p>
              <p class="ItemName">Placed Date : <%= order.date.to_s(:short) %></p>
              <% if order.delivered_at %>
                <p class="ItemName">Delivered Date : <%= order.delivered_at.to_s(:short) %></p>
              <% end %>
              <% if @current_user.role != 'customer'%>
                <p class="ItemName">Name of customer : <%= order.user.name %></p>
              <% end %>
            </div>
            <div class="Order-right">
              <div>
                <%= form_with(url: "/orders/#{order.id}", method: "post") do %>
                    <%= submit_tag "Reorder", class: 'SubmitButton' %>
                <% end %>
              </div>
              <div>
                <% if order.not_delivered %>
                  <%= form_with(url: "/orders/#{order.id}", method: "delete") do %>
                      <%= submit_tag "Cancel order", class: 'SubmitButton Red' %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <% class_name= hidden_status ? "Left-margin": "" %>
        <table class=<%=class_name%>>
            <tr class="ColumnTitle">
                <th class="SerialNo">SNo</th>
                <th class="ItemName">Name</th>
                <th class="ItemQuantity">Quantity</th>
                <th class="EachItemPrice">Price</th>
                <th class="ItemPrice">TotalPrice</th>
            </tr>

            <% serial_no = 1 %>
            <% orderitems.each do |name,quantity|%>
                <% order_item = order.orderitems.find_by(menu_item_name: name)%>
                    <tr class="ItemDetails">
                        <td class="SerialNo"><%= serial_no %>.</td>
                        <td class="ItemName"><%= name %></td>
                        <td class="ItemQuantity">
                          <% if hidden_status %>
                            <%= link_to "−", orderitem_path(id:order_item.id,from: "cart"), method: "delete", class: "minus" %>
                          <% end %>
                            <%= quantity %>
                          <% if hidden_status %>
                            <%= link_to "＋", orderitems_path(order_id: order.id ,
                                                            menuitem_id: order_item.menuitem_id,
                                                            menu_item_name: name,
                                                            menu_item_price: order_item.menu_item_price,from: "cart",),
                                                            method: "post",
                                                            class: "plus"
                            %>
                          <% end %>
                        </td>
                        <td class="EachItemPrice">₹<%= order_item.menu_item_price %></td>
                        <td class="ItemPrice">₹<%= quantity*order_item.menu_item_price %></td>
                    </tr>
                    <% serial_no = serial_no+1 %>
            <% end %>
        </table>
        <hr class='line'>
        <p class="TotalPrice">TotalPrice : ₹<%= order.get_total_price %> </p>
        <% if hidden_status %>
          <div class="Buttons-container">
            <form action="/menuitems" method="GET">
                <input class='SubmitButton' type="submit" value='Add-other-items'>
            </form>
            <%= form_with(url: "/orders/pay", method: "patch") do %>
                <%= hidden_field_tag "id", order.id %>
                <%= submit_tag "Confirm&Pay", class: 'SubmitButton' %>
            <% end %>
          </div>
        <% else %>
          <form action="/orders" method="GET">
            <button class='Order-exit' type="submit" >Exit</button>
         </form>
        <% end %>
    </section>
<%end%>
