<h1 class="PageHead">Have a Great Day</h1>
<table>
    <tr class="ColumnTitle">
        <th class="SerialNo">SNo</th>
        <th class="ItemName">Name</th>
        <th class="ItemQuantity">Quantity</th>
        <th class="EachItemPrice">Price</th>
        <th class="ItemPrice">TotalPrice</th>
    </tr>
    <% orderitems= order.orderitems.getqty %>
    <% serial_no = 1 %>
    <% orderitems.each do |name,quantity|%>
        <% order_item=Orderitem.find_by(menu_item_name: name)%>
             <tr class="ItemDetails">
                <td class="SerialNo"><%= serial_no %>.</td>
                <td class="ItemName"><%= name %> </td>
                <td class="ItemQuantity"><%= quantity %></td>
                <td class="EachItemPrice">₹<%= order_item.menu_item_price%></td>
                <td class="ItemPrice">₹<%= quantity*order_item.menu_item_price %></td>
            </tr>
            <% serial_no = serial_no+1 %>
    <% end %>
</table>
<hr>
<p class="TotalPrice">TotalPrice : ₹<%= order.get_total_price %> </p>
<div class="Buttons-container">
<form action="/orders/new" method="GET">
    <input type=hidden name='id' value=<%= order.id %>>
    <input class='SubmitButton' type="submit" value='Add-more'>
</form>
<%= form_with(url: "/orders/pay", method: "patch") do %>
    <%= hidden_field_tag "id", order.id %>
  <%= submit_tag "Pay", class: 'SubmitButton' %>
<% end %>
</div>
