<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/png" href="<%=image_path('favicon.png')%>"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user %>
          <div class="NavBar">
            <div class='Navbar-left'>
              <div class="Navbar-Item">
                <%= link_to menuitems_path ,class:"Navbar-Item" do %>
                  <%= show_svg('home.svg') %>
                  <p class="Header-tab">Home</p>
                <% end %>
              </div>
              <% if @current_user.role == "owner" %>
                <%= link_to menus_path ,class:"Navbar-Item" do %>
                  <%= show_svg('menu.svg') %>
                  <p class="Header-tab">Menus</p>
                <% end %>
              <% end %>
              <%= link_to orders_path ,class:"Navbar-Item" do %>
                <%= show_svg('order.svg') %>
                <p class="Header-tab">Orders</p>
              <% end %>

              <% if @current_user.role == "owner" %>
                <%= link_to users_path ,class:"Navbar-Item" do %>
                  <%= show_svg('group.svg') %>
                  <p class="Header-tab">Users</p>
                <% end %>
              <% end %>
            </div>
            <div >
              <p class='Cafeteria-title'>Gp cafeteria</p>
            </div>
            <div class="cart-and-logout">
              <%= link_to cart_path ,class:"Navbar-Item" do %>
                  <%= show_svg('cart.svg') %>
                  <p class="Header-tab">Cart</p>
              <% end %>
              <% if @current_user.role != 'clerk' %>
                <%= link_to edit_user_path(@current_user), class:"Navbar-Item", method: 'get' do %>
                    <p class="Header-tab">My Profile</p>
                <% end %>
              <% end %>
              <%= link_to destroy_session_path,method: "delete",class:"Navbar-Item" do %>
                  <%= show_svg('signout.svg') %>
                  <p class="Header-tab">Logout</p>
              <% end %>
            </div>
          </div>
    <% end %>
    <% if flash[:error] %>
     <div>
      <p class="Flash-error"><%= flash[:error] %></p>
     </div>
    <% end %>
    <% if flash[:success] %>
      <div class="Flash-success">
        <p class="Flash-success-text"><%= flash[:success] %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
