<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user %>
        <% if @current_user.role == "owner" %>
          <div>
          <p class="PageSwap">
          <%= link_to "home", menus_path %>
          <%= link_to "all-orders", orders_path %>
          <%= link_to "sign-out", destroy_session_path, method: "delete" %>
          </p>
          </div>
        <% elsif @current_user.role == "clerk"%>
          <div>
          <p class="PageSwap">
          <%= link_to "home", menuitems_path %>
          <%= link_to "all-orders", orders_path %>
          <%= link_to "sign-out", destroy_session_path, method: "delete" %>
          </p>
          </div>
        <% else %>
          <div>
          <p class="PageSwap">
          <%= link_to "home", menuitems_path %>
          <%= link_to "my-orders", orders_path %>
          <%= link_to "sign-out", destroy_session_path, method: "delete" %>
          </p>
          </div>
        <% end %>
        <div>
          <p class="UserHeader">
            signed in as
            <%= @current_user.name %>
          </p>
        </div>
    <% end %>
    <% if flash[:error] %>
     <p class="Flash-error"> <%= flash[:error] %></p>
    <% end %>
    <% if flash[:success] %>
     <p class="Flash-success"> <%= flash[:success] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
