<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user %>
        <% if @current_user.role == "owner" %>

          <div class="PageSwap">
            <div>
              <%= link_to "Home", menus_path,class:"Header-tab" %>
              <%= link_to "Orders", orders_path,class: "Header-tab" %>
              <%= link_to "Users", users_path, class: "Header-tab"%>
            </div>
            <%= link_to "Sign-out", destroy_session_path,method: "delete" ,class: "Header-tab" %>
          </div>

        <% elsif @current_user.role == "billclerk"%>
          <div class="PageSwap">
            <div>
              <%= link_to "Home", menuitems_path ,class: "Header-tab" %>
              <%= link_to "Orders", orders_path ,class: "Header-tab" %>
            </div>
            <%= link_to "Sign-out", destroy_session_path, method: "delete",class: "Header-tab" %>
          </div>
        <% else %>
          <div class="PageSwap">
            <div>
              <%= link_to "Home", menuitems_path ,class: "Header-tab" %>
              <%= link_to "My-orders", orders_path ,class: "Header-tab" %>
            </div>
            <%= link_to "Sign-out", destroy_session_path, method: "delete",class: "Header-tab" %>
          </div>
        <% end %>
        <div>
          <p class="UserHeader">
            signed in as
            <%= @current_user.name %>
          </p>
        </div>
    <% end %>
    <% if flash[:error] %>
     <p class="Flash-error"> <%= flash[:error] %></p>
    <% end %>
    <% if flash[:success] %>
     <p class="Flash-success"> <%= flash[:success] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
