<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" type="image/png" href="<%=image_path('favicon.png')%>"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class='main-content'>
    <% if @current_user %>
          <div class="NavBar">
            <div class='Navbar-left'>
              <div class="Navbar-Item">
                <%= link_to menuitems_path ,class:"Navbar-Item" do %>
                  <%= show_svg('home.svg') %>
                  <p class="Header-tab">Home</p>
                <% end %>
              </div>
              <% if @current_user.role == "owner" %>
                <%= link_to menus_path ,class:"Navbar-Item" do %>
                  <%= show_svg('menu.svg') %>
                  <p class="Header-tab">Menus</p>
                <% end %>
              <% end %>
              <%= link_to orders_path ,class:"Navbar-Item" do %>
                <%= show_svg('order.svg') %>
                <p class="Header-tab">Orders</p>
              <% end %>

              <% if @current_user.role == "owner" %>
                <%= link_to users_path ,class:"Navbar-Item" do %>
                  <%= show_svg('group.svg') %>
                  <p class="Header-tab">Users</p>
                <% end %>
              <% end %>
              <% if @current_user.role == "owner" %>
                <%= link_to reports_path ,class:"Navbar-Item" do %>
                  <%= show_svg('chart.svg') %>
                  <p class="Header-tab">Reports</p>
                <% end %>
              <% end %>
            </div>
            <div >
              <p class='Cafeteria-title'>Gp cafe</p>
            </div>
            <div class="cart-and-logout">
              <%= link_to cart_path ,class:"Navbar-Item" do %>
                  <%= show_svg('cart.svg') %>
                  <p class="Header-tab">Cart</p>
              <% end %>
              <%= link_to edit_user_path(@current_user), class:"Navbar-Item", method: 'get' do %>
                    <%= show_svg('user.svg') %>
                    <p class="Header-tab">Profile</p>
              <% end %>
              <%= link_to destroy_session_path,method: "delete",class:"Navbar-Item" do %>
                  <%= show_svg('signout.svg') %>
                  <p class="Header-tab">Logout</p>
              <% end %>
            </div>
          </div>
    <% end %>
    <% if flash[:error] %>
     <div>
      <p class="Flash-error"><%= flash[:error] %></p>
     </div>
    <% end %>
    <% if flash[:success] %>
      <div class="Flash-success">
        <p class="Flash-success-text"><%= flash[:success] %></p>
      </div>
    <% end %>
    <%= yield %>
  </div>
    <div class='footer'>
        <div class='footerpart'>
           <p class='AddressHead'>
            GP Cafe
           </p>
           <div class='footerpart'>
            <a href='#' class="Navbar-Item footerpart">About</a>
            <a href='#' class="Navbar-Item footerpart">Team</a>
            <a href='#' class="Navbar-Item footerpart">Story</a>
           </div>
        </div>
        <div class='footerpart'>
          <p class='AddressHead support'>
            SUPPORT
          </p>
          <%= mail_to "thisisprashanth02@gmail.com", "Contact Us", class:"footerpart Navbar-Item"%>
        </div>
        <div class='footerpart'>
           <p class='AddressHead'>
            SOCIAL
           </p>
           <div class='footer-flex'>
            <a href='https://instagram.com/echo_prudhvi' class="Navbar-Item svg"><%= show_svg('instagram.svg') %></a>
            <a href='https://twitter.com/echo_prudhvi' class="Navbar-Item svg"><%= show_svg('twitter.svg') %></a>
            <a href='https://github.com/saas-final-project/final_project' class="Navbar-Item svg"><%= show_svg('github.svg') %></a>
            <a href="whatsapp://send?text=Hello%2C%20World!" class="Navbar-Item svg"><%= show_svg('whatsapp.svg') %></a>
           </div>
        </div>
        <div class='footerpart'>
          <p class='AddressHead'>
            CONTACT
          </p>
          <p class="footerpart">Door No 1-23/8</p>
          <p class="footerpart">Road no - 4</p>
          <p class="footerpart">ShadNagar</p>
          <p class="footerpart">Hyderabad</p>
        </div>
    </div>
  </body>
</html>
